* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #141414;
  color: white;
}

.navbar {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: 0.8s ease all;
  height: 80px;
  -webkit-transition: 0.8s ease all;
  -moz-transition: 0.8s ease all;
  -ms-transition: 0.8s ease all;
  -o-transition: 0.8s ease all;
}

.nav-dark {
  background: rgb(20, 20, 20);
  transition: 0.8s ease all;
  -webkit-transition: 0.8s ease all;
  -moz-transition: 0.8s ease all;
  -ms-transition: 0.8s ease all;
  -o-transition: 0.8s ease all;
}

.cabecera {
  width: 100%;
  height: 60vh;
}

.cabecera img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.transparencia {
  height: 70px;
  background-image: linear-gradient(to top, #141414 10%, rgba(0, 0, 0, 0));
  position: relative;
  margin-top: -70px;
}

.row-movies {
  height: 335px;
  width: 100%;
  position: relative;
  margin: auto;
}

.visible {
  position: relative;
  display: flex;
  height: 335px;
  overflow: hidden;
  margin: auto;
}

.flechaIzquierda,
.flechaDerecha {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: rgb(0, 0, 0);
  width: 80px;
  height: 335px;
  padding: 20px;
  text-align: center;
  z-index: 6;
  cursor: pointer;
}

.flechaIzquierda {
  top: 0;
  bottom: 0;
  left: 0px;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.flechaDerecha {
  top: 0;
  bottom: 0;
  right: 0px;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.flechaIzquierda i,
.flechaDerecha i {
  position: relative;
  top: 25%;
}

.grow:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  cursor: pointer;
}

/*   LOGIN   */
.backgroundLogin {
  background: url("./images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*   NAV   */
.link-navegacion {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin: 10px;
}

.navegacion a {
  text-decoration: none;
}

.navegacion ul {
  align-items: center;
  width: 450px;
}

.navegacion span {
  display: flex;
}

.navegacion h1 {
  color: white;
}

.bienvenido {
  width: 300px;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.exit {
  cursor: pointer;
  margin: 25px;
  color: white;
}

/*   FOOTER   */
.icon {
  font-size: 35px;
  color: #90cea1;
  padding: 10px;
}

/*   MOVIE-DASHBOARD   */
.poster {
  background: black;
  width: 210px;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 10px; 
}

.poster img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: black;
  display: block;
  color:white;
}